{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block title %}Generate QR Code{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/generate_qr.css' %}">
{% endblock %}


{% block content %}
<div class="form-card">
  <h2><i class="fas fa-qrcode"></i> Generate QR Code</h2>
  <form action="{% url 'generate_qr_code' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-generate">Generate QR Code</button>
  </form>
</div>
{% endblock %}
